@import '~uikit/src/scss/mixins.scss';
@import '~uikit/src/scss/variables.scss';
@import '~uikit/src/scss/components/base.scss';

@import '~uikit/src/scss/components/container.scss';
@import '~uikit/src/scss/components/grid.scss';
@import '~uikit/src/scss/components/width.scss';
@import '~uikit/src/scss/components/visibility.scss';

.App {
  text-align: center;
  min-height: 100vh;
  background-color: rgb(32, 35, 41);
  color: white;
}
